*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html,body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: var(--primary-font);
}
:root{
    --max-width: 114rem;
    --black:#222222;
    --primary-font:'Poppins', sans-serif;
    --secondry-color:#fbca00;
    --white:#fff;
    --sky:#2d9af4;
}
/* common-css */
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.9rem;
}
h5{
    font-size: 1.6rem;
}
h6{
    font-size: 1.6rem;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
}
p{
    font-size: 1.6rem;
}
li{
    font-size: 1.6rem;
}
ul,ol,li{
    list-style-type: none;
}
input{
    outline: none;
}
.d-flex{
    display: flex;
}
.js-space-btn{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.m-auto{
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 1rem;
}
/* common-css */
/* btn-css */
.signup-btn{
    font-weight: 500;
    color: var(--black);
    padding: 0.6rem 2rem;
    background: var(--secondry-color);
}
/* btn-css */
/* icon */
.contact-item li i{
    color: var(--sky);
}
/* icon */
/* nav-icon */
.nav-icon{
    position: relative;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    display: none;
    margin-top: 2rem;
    margin-right: 1rem;
}
.icon-line{
    width: 100%;
    height: 0.2rem;
    background: var(--black);
    position: relative;
}
.icon-line,
.icon-line::before,
.icon-line::after{
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
.icon-line::before,
.icon-line::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 0.2rem;
    background: var(--black);
}
.icon-line::before{
    transform: translateY(-0.8rem);
    -webkit-transform: translateY(-0.8rem);
    -moz-transform: translateY(-0.8rem);
    -ms-transform: translateY(-0.8rem);
    -o-transform: translateY(-0.8rem);
}
.icon-line::after{
    transform: translateY(0.8rem);
    -webkit-transform: translateY(0.8rem);
    -moz-transform: translateY(0.8rem);
    -ms-transform: translateY(0.8rem);
    -o-transform: translateY(0.8rem);
}
.nav-icon.open-nav .icon-line{
    background: transparent;
}
.nav-icon.open-nav .icon-line::before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.nav-icon.open-nav .icon-line::after{
    transform:rotate(-45deg) translateY(-0.1rem);
    -webkit-transform:rotate(-45deg) translateY(-0.1rem);
    -moz-transform:rotate(-45deg) translateY(-0.1rem);
    -ms-transform:rotate(-45deg) translateY(-0.1rem);
    -o-transform:rotate(-45deg) translateY(-0.1rem);
}
/* nav-icon */
/* navbar-css */
.navigation{
    height: 6rem;
    max-width: var(--max-width);
    width: 100%;
    align-items: center;
}
.logo img{
    width: 15rem;
}
.link-item li{
    display: inline-block;
}
.link-item{
    margin-right: 3rem;
}
.link-item li{
    padding: 1rem 1rem;
}
.nav-link{
    font-weight: 500;
    color: var(--black);
}
.link-contact{
    display: flex;
}
.nav-right{
    grid-template-columns: repeat(2,1fr);
    color: var(--black);
    font-weight: 300;
}
.contact-item{
    text-align: right;
}
/* navbar-css */
/* --hero-- */
.hero{
    background-size: cover;
    background-image: url(../images/banner.jpg);
    height: calc(100vh - 6rem);
    position: relative;
}
.hero-contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* --hero-- */
/* footer */

/* footer */
/* media_query */
@media (max-width:700px){
    .navigation{
        background: var(--balck);
        position: relative;
        z-index: 10000;
    }
    .logo{
        margin-left: 2rem;
    }
    .link-contact{
        display: none;
    }
    .nav-icon{
        margin-right: 2rem;
        display: block;
    }
    .signup-btn{
        display: inline-block;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
    .open-item{
        display: block;
    }
    .link-contact{
        position: absolute;
        top: 6.9rem;
        z-index: 2;
        background: var(--black);
        width: 100%;
        left: 0;
        height: calc(100vh - 7rem);
    }
    .link-item .nav-link{
        color: var(--white);
        margin-left: 2rem;
    }
    .link-item li{
        display: block;
    }
    .link-contact{
        text-align: center;
    }
    .nav-right{
        grid-template-columns: repeat(1,1fr);
        font-weight: 300;
    }
    .contact-item{
        color: var(--white);
        text-align: center;
    }
}
/* media_query */